<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" />
    <script src="~/Scripts/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title></title>

    <style>
        body {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
        }
    </style>
</head>


<body ng-app="LaTable" ng-controller="LaTableController">
<div>
    @RenderBody()
</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/AngularScripts/Module.js"></script>
<script src="~/Scripts/AngularScripts/Service.js"></script>
<script src="~/Scripts/AngularScripts/Controller.js"></script>

</body>
</html>
